@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
  }

  /* html {
    @apply scroll-smooth;
  } */

  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  :root[class~='dark'] {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer components {
  .secondary-heading {
    @apply text-4xl max-md:leading-[1.6] font-bold text-gray-300 max-md:text-3xl max-sm:text-2xl mb-10 leading-[1.7];
  }

  .primary-heading {
    @apply text-5xl max-md:text-4xl max-md:leading-relaxed leading-relaxed font-bold bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50;
  }

  .bg-img {
    background-image: linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgba(0, 0, 0, 0.6)
      ),
      url('/bgImg.jpg');

    background-size: cover;
  }

  .cta-gradient {
    background: hsla(205, 46%, 10%, 1);

    background: linear-gradient(
      90deg,
      hsla(205, 46%, 10%, 1) 0%,
      hsla(191, 28%, 23%, 1) 50%,
      hsla(207, 41%, 27%, 1) 100%
    );

    background: -moz-linear-gradient(
      90deg,
      hsla(205, 46%, 10%, 1) 0%,
      hsla(191, 28%, 23%, 1) 50%,
      hsla(207, 41%, 27%, 1) 100%
    );

    background: -webkit-linear-gradient(
      90deg,
      hsla(205, 46%, 10%, 1) 0%,
      hsla(191, 28%, 23%, 1) 50%,
      hsla(207, 41%, 27%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E1C26", endColorstr="#2A454B", GradientType=1 );
  }

  .text-gradient {
    @apply bg-gradient-to-r from-blue-600 via-green-500 inline-block to-indigo-400 text-transparent bg-clip-text;
  }
  .font-family {
    font-family: 'Montserrat', sans-serif;
  }
  .section-container {
    max-width: 150rem;
    margin: 0 auto;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
